@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --dark: #222831;
  --gray: #393e46;
  --blue: #00adb5;
  --white: #eeeeee;
  --orange: #f07b3f;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray);
  color: var(--white);
}

.dark-btn {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--dark);
  color: var(--orange);
}

.dark-btn:hover {
  background-color: var(--orange);
  color: var(--dark);
}

.dark-btn:disabled {
  background-color: var(--dark);
  color: var(--orange);
}

.dark-bg {
  background-color: var(--dark);
}

.gray-bg {
  background-color: var(--gray);
}

.white-text {
  transition: color 0.5s ease;
  color: var(--white);
}

.white-link:hover {
  color: var(--orange);
}

.orange-btn {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--orange);
  color: var(--dark);
}

.orange-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.orange-link {
  transition: color 0.5s ease;
  color: var(--orange);
}

.orange-link:hover {
  color: var(--white);
}

.navbar-brand {
  transition: color 0.5s ease;
  color: var(--orange) !important;
}

.navbar-brand:hover {
  color: var(--white) !important;
}

.nav-link {
  transition: color 0.5s ease;
  color: var(--orange) !important;
}

.nav-link:hover {
  color: var(--white) !important;
}

.blue-text {
  color: var(--blue);
}

.orange-text {
  color: var(--orange);
}

.orange-border {
  border: 1px solid var(--orange);
}

.item-image {
  width: 250px;
  height: 220px;
}

.sidebar {
  max-height: 500px;
}
