@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --dark: #222831;
  --gray: #393e46;
  --blue: #00adb5;
  --white: #eeeeee;
  --orange: #f07b3f;
  --red: #e84545;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray);
  color: var(--white);
}

.dark-btn {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--dark);
  color: var(--orange);
}

.dark-btn:hover {
  background-color: var(--orange);
  color: var(--dark);
}

.dark-btn:disabled {
  background-color: var(--dark);
  color: var(--orange);
}

.dark-bg {
  background-color: var(--dark);
}

.gray-bg {
  background-color: var(--gray);
}

.white-text {
  transition: color 0.5s ease;
  color: var(--white);
}

.white-link:hover {
  color: var(--orange);
}

.orange-btn {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--orange);
  color: var(--dark);
}

.orange-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.orange-btn:disabled {
  background-color: var(--orange);
  color: var(--dark);
}

.orange-link {
  transition: color 0.5s ease;
  color: var(--orange);
}

.orange-text {
  color: var(--orange);
}

.orange-link:hover {
  color: var(--white);
}

.navbar-brand {
  transition: color 0.5s ease;
  color: var(--orange) !important;
}

.navbar-brand:hover {
  color: var(--white) !important;
}

.nav-link {
  transition: color 0.5s ease;
  color: var(--orange) !important;
}

.nav-link:hover {
  color: var(--white) !important;
}

.blue-text {
  color: var(--blue);
}

.blue-btn {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--blue);
  color: var(--dark);
}

.blue-btn:hover {
  background-color: var(--dark);
  color: var(--blue);
}

.red-btn {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--red);
  color: var(--dark)
}

.red-btn:hover {
  background-color: var(--dark);
  color: var(--red)
}

.orange-text {
  color: var(--orange);
}

.orange-border {
  border: 1px solid var(--orange);
}

.item-image {
  width: 250px;
  height: 220px;
}

.detail-image {
  width: 80vh;
  height: 70vh
}

@media only screen and (max-width: 1200px) {
  .detail-image {
    width: 70vh;
    height: 60vh
  }
}

@media only screen and (max-width: 1000px) {
  .detail-image {
    width: 50vh;
    height: 40vh
  }
}

.sidebar {
  max-height: 500px;
}

.jumbotron {
  height: 100vh;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(91, 7, 16, 1) 0%,
      rgba(0, 0, 0, 0.7973564425770308) 0%
    ),
    url(https://wallpapercave.com/wp/wp6864788.jpg);
}


