@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --dark: #222831;
  --gray: #393e46;
  --blue: #00adb5;
  --white: #eeeeee;
  --orange: #f07b3f;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray);
  color: var(--white);
}

.dark-btn {
  background-color: var(--dark);
  color: var(--orange)
}

.dark-btn:hover {
  background-color: var(--orange);
  color: var(--dark)
}

.dark-bg {
  background-color: var(--dark);
}

.gray-bg {
  background-color: var(--gray);
}

.white-text {
  color: var(--white)
}

